@import 'tailwindcss';
@import '../../vendor/livewire/flux/dist/flux.css';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

@theme {
    --font-sans: 'Montserrat', sans-serif;
    --color-zinc-50: #A4957D;
    --color-zinc-100: #A4957D;
    --color-zinc-200: #A4957D;
    --color-zinc-300: #A4957D;
    --color-zinc-400: #A4957D;
    --color-zinc-500: #2E2E2E;
    --color-zinc-600: #A4957D;
    --color-zinc-700: #A4957D;
    --color-zinc-800: #A4957D;
    --color-zinc-900: #A4957D;
    --color-zinc-950: #A4957D;

    --color-accent: #A4957D;
    --color-accent-content: #A4957D;
    --color-accent-foreground: var(--color-white);

}

:root {
    --input-bg: #F2F2F2;
    --input-text: #2E2E2E;
    --input-border: #2E2E2E;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px var(--input-bg) inset !important;
    -webkit-text-fill-color: var(--input-text) !important;
    background-color: var(--input-bg) !important;
    border-color: var(--input-border) !important;
}

/* Removed dark mode layer to keep colors static */

body {
    background-color: #FFFFFF !important;
    color: #2E2E2E !important;
}


/* Standard menu items—only text color changes on hover */

.sidebar * {
    color: #2E2E2E !important;
}

.separator * {
    background-color: #2E2E2E !important;
    height: 0.5px
}

.separator-vertical {
    background-color: #2E2E2E !important;
    width: 2px;
    /* Adjust thickness */
    height: 100%;
    /* Full height */
    display: inline-block;
}


.dropdown-text * {
    color: #F2F2F2 !important;
}

.tbutton {
    background-color: #A4957D;
    color: #FFFFFF;
}

.navlist-bold * {
    font-weight: bold !important;
}

.navlist-bold:hover * {
    color: #A4957D !important;
    /* Hover effect */
}

.navlist-item:hover * {
    color: #A4957D !important;
    /* Hover effect */
}

.navlist-item * {
    color: #2E2E2E;
}

.navlist-group-admin-heading:hover * {
    color: #A4957D !important;
    /* Change text color on hover */
}

.heading-hover:hover {
    color: #A4957D !important;
    /* Ensure the text color stays static */
}

.profile-name * {
    color: #2E2E2E !important;
    font-weight: bold !important;
}

.initial-bg {
    background-color: #2E2E2E !important;
    color: #F2F2F2 !important;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    /* Adjust size */
    height: 30px;
    /* Adjust size */
    border-radius: 4px;
    /* Keep it squared */
}

.dropdown-avatar {
    color: #F2F2F2 !important;
}

.tooltip * {
    background-color: #A4957D !important;
    color: #2E2E2E !important;

}
